.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header :hover{
    transform: scale(1.1);
    transition-duration: 200ms;


   }   
.header {
    background-color: #333;
    padding: 1rem 0;
    transition: transform 0.3s ease;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    transition: background-color 0.3s , font size 0.2s;
}
nav ul li a:hover{
    background-color: #444;
    font-size: 1.2rem; 
}
.thank{
        margin-top: 50px;
        text-align: center;
}
.thank p{
    font-size: 20px;
}
a.first:hover , a.first:active{
    font-size: 80%;
}
.middle{
    background: #005f6b;
    color: white;
    padding: 100px 0;
    text-align: center;
    background-image: url(https://t3.ftcdn.net/jpg/08/60/31/74/240_F_860317413_qYHgd8NaNQSoOKyJ7jyACeQqPfe83RpI.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.middle h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.middle p{
    font-size: 2rem;
    margin-bottom: 30px;
}

.middle .btn{
    background-color: #ff6600;
    color: white;
    padding: 12px 25px;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.middle .btn:hover{
    background-color: #e55a00;
}

.homenext{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-left: 30px;
    text-align: center;
    font-size: 30px;
}
.midnext{
    padding: 100px 0;
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/07/96/44/43/240_F_796444385_MSNB2zH3s6MEVVftE0yafGuWx6sptuLv.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.midnext h1{
    font-size: 5rem;
    margin-bottom: 20px;
    color: darkgray;
}

.midnext p{
    font-size: 2rem;
    margin-bottom: 30px;
    color: darkgray;
}
.middo{
    width: 100%;
    height: 100%;

}
.middo p{
    font-size: 23px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.first img{
    padding-left: 330px;
}

@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }

    .header {
        padding: 1rem; 
    }

    
    .body h1, .midnext h1 {
        font-size: 24px;
        text-align: center;
        
    }

    
    .first img {
        width: 100%; 
        height: auto;
        float: left;
    }
    
    .homenext, .middo {
        font-size: 14px;
        line-height: 1.5;
    }
}

